
.row:after{
  content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.row--large {
  margin-bottom: 48px;
}


.section--head h1 a {
  vertical-align: super;
  font-size: 14px;
  text-decoration: none;
}


.col-50 {
  width: 48%;
  float: left;
}
.col-50:nth-child(1) {
  margin-right: 4%;
}
.col-img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.style-select {
  width: 100%;
  float: left;
}
.style-select .radio {
  position: relative;
  margin-bottom: 12px;
  display: block;
  float: left;
  width: 100%;
}
.style-select label {
  padding-left: 24px;
  position: relative;
  display: block;
  cursor: pointer;
}
.style-select input {
  position: absolute;
  left:0;
  top:0;
  width:24px;
  height:24px;
  overflow:hidden;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  opacity:0;
  cursor: pointer;
  
}
.style-select input + label:before {
  content: '';
  position: absolute;
  left:0;
  top:4px;
  background: none;
  border-radius: 50%;
  width:16px;
  height:16px;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0.6);
}
.radio:hover label:before {
  border-color: #3169B3;
}
.style-select input:checked + label:before {
  border-color: #3169B3;
}
.style-select input:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  width:6px;
  height: 6px;
  background: #3169B3;
  border-radius: 50%;
}

.row--modules ul {
  list-style: none;
  margin-left: 0;
  /*color: rgba(255, 255, 255, 0.8);*/
}
.row--modules span {
  font-weight:600;
  border-left:5px solid #FFF;
  padding-left:5px;
  margin-left:-10px;
}

.size-chart {
  width: 100%;
  display: inline-block;
}

.size-chart div {
  height: 21px;
  float: left;
  font-size: 13px;
  padding: 4px;
  line-height: 1;
}

.block__ui-separated {
  position: relative;
}
.block__ui-separated .col-50 {
  position: absolute;
  left: 0;
  top:12px;
}
.block__ui-separated img {
  float: right;
  max-width: 450px;
}

.demo-gallery {
  /* width: 100%; */
  height: auto;
  float: left;
}
.demo-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 171px;
  line-height: 0;
}

a.demo-gallery__img--main {
  width: auto;
  height: auto;
}

.demo-gallery figure {
  display: none;
}
.demo-gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}






